<header
  class="w-full bg-black bg-opacity-30 bg-blend-multiply fixed top-0 z-50"
>
  <nav class="flex items-center justify-between px-6 py-2">
    <img
      ngSrc="assets/logo/logo-vert.png"
      alt="TechnologySolutions"
      width="160"
      height="80"
      priority
      (click)="clickHandler('')"
    />
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button
        class="text-sm dark:bg-white font-semibold mr-4 leading-6 px-8 text-gray-950"
        mat-flat-button
        [routerLink]="['/registrar']"
      >
        <span> Cadastre-se </span>
      </button>
      <button
        class="text-sm font-semibold leading-6 px-8 text-gray-50"
        mat-flat-button
        color="primary"
        [routerLink]="['/login']"
      >
        <span> Login </span>
      </button>
    </div>

    <div class="lg:hidden">
      <button mat-button class="flex" [matMenuTriggerFor]="menu">
        <mat-icon class="text-white text-lg">menu</mat-icon>
        <mat-menu #menu="matMenu" class="!lg:hidden" id="buttonMenu">
          <button
            class="text-sm font-semibold leading-6 justify-center text-white"
            mat-menu-item
            [routerLink]="['/registrar']"
          >
            <a> Cadastre-se </a>
          </button>
          <button
            class="text-sm font-semibold leading-6 text-gray-50 justify-center"
            mat-menu-item
            color="primary"
            [routerLink]="['/login']"
          >
            <a> Login </a>
          </button>
        </mat-menu>
      </button>
    </div>
  </nav>
</header>
