<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
  <div
    class="grid lg:grid-cols-2 md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4"
  >
    <h2
      class="font-bold max-w-2xl text-xl tracking-tight leading-none md:text-2xl xl:text-3xl break-keep text-primary-400"
    >
      Sobre nós:
    </h2>
    <div class="grid gap-4">
      <p class="font-normal text-md">
        <span class="font-bold">Gestão de Pessoas</span> <br />
        Controle cadastros, organogramas e históricos de colaboradores.
      </p>
      <p class="font-normal text-md">
        <span class="font-bold">Folha de Pagamento</span> <br />
        Automatize cálculos e evite erros financeiros.
      </p>
      <p class="font-normal text-md">
        <span class="font-bold">Recrutamento & Seleção</span> <br />
        Encontre talentos rapidamente com processos otimizados.
      </p>
      <p class="font-normal text-md">
        <span class="font-bold">Relatórios e Indicadores</span> <br />
        Tome decisões estratégicas com base em dados reais.
      </p>
    </div>
  </div>
</section>
