<footer class="p-4 lg:p-16 bg-primary-950 mt-14 bg-gray-100">
  <div
    class="flex gap-10 justify-evenly mx-auto p-4 flex-col-reverse sm:flex-row md:flex-row ld:flex-row xl:flex-row"
  >
    <div class="lg:flex-col lg:gap-y-12 max-w-screen-xl space-y-2">
      <div class="flex flex-col items-center sm:items-start">
        <a class="block text-sm font-semibold leading-8 text-black">SISTEMA</a>
        <a
          href="#"
          class="block text-sm font-semibold leading-8 text-black hover:underline"
          >Sobre</a
        >
      </div>
    </div>
    <div
      class="lg:flex-col lg:gap-y-12 max-w-screen-xl space-y-2 mx-auto sm:mx-0 md:mx-0 lg:mx-0 xl:mx-0"
    >
      <div class="flex flex-col items-center sm:items-start">
        <a class="block text-sm font-semibold text-black">LINKS ÚTEIS</a>
        <a
          href="#"
          class="block text-sm font-semibold text-black leading-8 hover:underline"
          >Política de Privacidade</a
        >
        <a
          href="#"
          class="block text-sm font-semibold text-black leading-8 hover:underline"
          >Technology Solutions</a
        >
      </div>
    </div>
  </div>
  <div class="grid justify-center w-full mt-10">
    <p class="flex text-sm font-bold text-black justify-center">
      <img src="/assets/icons/phone.svg" class="w-4" alt="logo-world" /><span
        class="ml-2"
        >(82) 9 9807-2790</span
      >
    </p>
    <p
      class="flex text-sm font-bold text-black justify-center cursor-pointer"
      (click)="openUrl('https://www.instagram.com/technology_solutions')"
    >
      <img
        src="/assets/icons/instagram.svg"
        class="w-4"
        alt="logo-world"
      /><span class="ml-2">technology_solutions</span>
    </p>
    <p class="flex text-sm font-bold text-black justify-center">
      <img src="/assets/icons/world.svg" class="w-4" alt="logo-world" /><span
        class="ml-2"
        >Avenida Brasil, 22, Maceió, Alagoas, Brasil</span
      >
    </p>
    <p class="pt-10 flex text-sm font-bold text-black justify-center">
      <img src="/assets/icons/copyright.svg" class="w-4" alt="logo-copyright" />
      <span class="ml-2">2025 Technology Solutions</span>
    </p>
  </div>
</footer>
