<div class="flex w-full h-screen">
  <div class="grid w-full lg:w-1/2 px-8 lg:shadow-none shadow">
    <img
      class="place-self-center"
      ngSrc="assets/logo/logo.png"
      height="40"
      width="250"
    />

    <form #signInNgForm="ngForm" [formGroup]="form">
      <div
        class="mb-8 text-lg font-bold tracking-tight dark:text-low-pure leading-tight"
      >
        Acesse sua conta
      </div>
      <mat-form-field class="w-full mb-2">
        <mat-label class="font-bold">E-mail</mat-label>
        <input
          id="email"
          placeholder="email@gmail.com.br"
          formControlName="email"
          matInput
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          O e-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Por favor insira um e-mail válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label class="font-bold">Senha</mat-label>
        <input
          id="password"
          placeholder="Senha123@"
          formControlName="password"
          matInput
          type="password"
          #passwordField
        />
        <mat-error>A senha é obrigatória.</mat-error>
      </mat-form-field>

      <button
        class="w-full mt-6"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="signIn()"
      >
        <span *ngIf="!form.disabled">Entrar</span>
        <mat-progress-spinner
          *ngIf="form.disabled"
          [diameter]="24"
          [mode]="'indeterminate'"
        ></mat-progress-spinner>
      </button>
    </form>
  </div>
  <div
    class="bg-auth-image bg-cover bg-center lg:w-1/2 w-0 h-full overflow-hidden"
  ></div>
</div>
