<div
  class="bg-cover bg-center bg-features-image grid h-screen items-center px-10"
>
  <div class="grid justify-center lg:w-1/2 w-full">
    <h1 class="text-black font-bold text-3xl lg:text-5xl md:mb-4 lg:mb-6">
      Simplifique a Gestão de RH e Potencialize Seu Time
    </h1>
    <p
      class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-sm lg:text-md"
    >
      Automatize processos, centralize informações e otimize a administração de
      talentos com a nossa solução completa de RH.
    </p>
    <button
      class="max-w-64 place-self-center mt-10"
      mat-flat-button
      color="primary"
      [routerLink]="['/login']"
    >
      <span> Agende uma Demonstração </span>
    </button>
  </div>
</div>
