<form class="grid w-full lg:w-1/2" #contactNgForm="ngForm" [formGroup]="form">
  <h2 class="font-bold text-xl md:text-2xl xl:text-3xl text-primary-400">
    Usuário a ser convidado
  </h2>
  <mat-form-field class="w-full mb-2">
    <mat-label class="font-bold">E-mail</mat-label>
    <input matInput placeholder="email@email.com" formControlName="email" />
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      O e-mail é obrigatório
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Por favor insira um e-mail válido.
    </mat-error>
  </mat-form-field>

  <button
    class="w-full mt-6"
    mat-flat-button
    color="primary"
    [disabled]="form.invalid || this.form.disabled"
    (click)="onSubmit()"
  >
    <span *ngIf="!form.disabled">Convidar</span>
    <mat-progress-spinner
      *ngIf="form.disabled"
      [diameter]="24"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </button>
</form>
